/* Colors */
$background1: #B6EFF2;
$background2: #7DE1EB;
$background3: #4CC3D2;
$background4: #2EA4B2;
$background5: #2EA4B2;
$background6: #1E818C;
$primaryfont: #0C373C;
$secondaryfont: #B6EFF2;
$tertiaryfont: #07272B;