/**
 *	Globals
 */

*{
	box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}

body{
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

hr{
	border: none;
}

a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

