@font-face {
    font-family: HelvNeueRomanForIBM;
    src: url("../fonts/HelvNeueRomanForIBM.otf") format("opentype");
}
@font-face {
    font-family: HelvNeueMediumForIBM;
    src: url("../fonts/HelvNeueMediumForIBM.otf") format("opentype");
}
@font-face {
    font-family: HelvNeueLightForIBM;
    src: url("../fonts/HelvNeueLightForIBM.otf") format("opentype");
}
@font-face {
    font-family: HelvNeueBoldForIBM;
    src: url("../fonts/HelvNeueBoldForIBM.otf") format("opentype");
}

$font-stack: HelvNeueRomanForIBM, Helvetica, Arial, sans-serif;
$bold-font-stack: HelvNeueBoldForIBM, HelvNeueRomanForIBM, Helvetica, Arial, sans-serif;
$medium-font-stack: HelvNeuemediumForIBM, HelvNeueRomanForIBM, Helvetica, Arial, sans-serif;
$light-font-stack: HelvNeueLightForIBM, HelvNeueRomanForIBM, Helvetica, Arial, sans-serif;