@font-face {
    font-family: HelvNeueRomanforIBM;
    src: url("../fonts/HelvNeueRomanforIBM.otf") format("opentype");
}
@font-face {
    font-family: HelvNeueMediumforIBM;
    src: url("../fonts/HelvNeueMediumforIBM.otf") format("opentype");
}
@font-face {
    font-family: HelvNeueLightforIBM;
    src: url("../fonts/HelvNeueLightforIBM.otf") format("opentype");
}
@font-face {
    font-family: HelvNeueBoldforIBM;
    src: url("../fonts/HelvNeueBoldforIBM.otf") format("opentype");
}

$font-stack: HelvNeueRomanforIBM, Helvetica, Arial, sans-serif;
$bold-font-stack: HelvNeueBoldforIBM, HelvNeueRomanforIBM, Helvetica, Arial, sans-serif;
$medium-font-stack: HelvNeueMediumforIBM, HelvNeueRomanforIBM, Helvetica, Arial, sans-serif;
$light-font-stack: HelvNeueLightforIBM, HelvNeueRomanforIBM, Helvetica, Arial, sans-serif;