#about {
	background-image: url(../img/slide3.png);
	background-color: $background3;
	color: #0E5158;

	.page-overlay {
		background-color: $background3;
	}

	.page_header {
		font-size: 2.25rem;
		color: #07272B;
	}

	.util-link {
		color: #07272B;
	}

}