#apply {
	background-color: $background6;
	color: $secondaryfont;
	overflow-y: auto;

	.page-overlay {
		background-color: $background6;
	}

	.page-container {
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
	}

	#apply-desc {
		width: 45vw;

		.page-header {
			color: white;
			font-size: 2rem;
			max-width: 100%;
		}
	}

	.apply-visual {
		width: 115%;
		height: auto;
		margin-top: 3rem;
		margin-left: -5rem;
	}

	.apply-form {
		margin-top: 3.2rem;
		font: inherit;
	}

	.svg {
		margin: 1rem;
		margin-bottom: .7rem;
		width: 4rem;
		height: 4rem;
		color: white;
	}

	.svg-container {
		color: $secondaryfont;
		text-align: center;
		border: 1px solid transparent;
		p {
			margin: 0 0 0.25rem;
		}
	}

	.svg-container:hover {
		border-bottom: 1px solid $secondaryfont;
	}

	.form-row {
		text-align: left;
		margin-bottom: 1rem;
	}

	.form-label {
		margin: 0;
		color: white;
		font-size: 14px;
		font-weight: 400;
	}

	#form-roles {
		justify-content: flex-start;
		margin-bottom: 2.5rem;
		button {
			margin: 4rem 0 2rem;
			background-color: $background6;
			font-size: 1rem;
			width: 10rem;
			height: 4rem;
		}
	}

	.form-header {
		display: inline-block;
		box-sizing: border-box;
		color: $secondaryfont;
		font-size: 1.5rem;
		font-weight: normal;
		color: white;
		margin-bottom: 1rem;
		margin-top: 0;
	}

	.form-input {
		font-size: 1rem;
		background-color: rgba(0, 0, 0, 0);
		border: 0 solid #f00;
		border-bottom: 1px solid $secondaryfont;
		color: white;
		box-sizing: border-box;
		width: 100%;
		padding: 6px 6px 6px 0;
		margin-top: 0rem;

		&::placeholder {
			color: $secondaryfont;
		}

		&:focus {
		}
	}

	.form-submit {
		justify-content: flex-start;
		border-radius: 2px;
		background-color: $secondaryfont;
		font-family: $bold-font-stack;
		color: $primaryfont;
		text-align: center;
		font-size: 1rem;
		padding: 14px 22px;
		border: 0;
		width: 6.5rem;
		height: 3rem;
		margin: 1rem auto 0;
	}

	select {
		background-color: #ffffff;
		color: $primaryfont;
		box-sizing: border-box;
		max-width: 240px;
		font-size: 1.25rem;
		padding: 12px 8px;
		border: 1px solid #dbdbdb;
		margin-top: 0.40rem;
	}
}

@media (max-width: $bp-xlarge) {
	#apply {
		background-image: url("../img/slide6.png");
		background-size: 120%;
		background-position: -10vw;

		.page-overlay {
			opacity: .7;
		}

		.page-container {
			flex-direction: column;
			margin: 0;
			padding: 3rem;
		}
		
		#apply-desc {
			width: 80%;
		}

		.apply-visual {
			display: none;
		}

		.apply-form {
			margin-top: 0;
			width: 90%;
		}
	}
}	


@media (max-width: $bp-medium) {
	#apply {
		.page-container {
			padding: 2rem;
			padding-right: 3rem;
		}

		.svg {
			margin: .5rem;
			width: 2.6rem;
			height: 2.6rem;
		}

		#form-roles {
			justify-content: space-between;
			margin-bottom: 2rem;
		}

		.form-submit {
			width: 100%;
			padding: 0;
		}
	}
}