#nav {
	flex-direction: column;
	justify-content: center;
	position: fixed;
	width: 216px;
	height: 100vh;
	top: 0;
	right: -155px;
	z-index: 999;

	text-align: left;
	font-size: 14px;
	background-color: rgba(1, 2, 3, .15);
	transition: transform .5s, background .5s;

	&:hover {
		transform: translateX(-146px);
		background-color: rgba(1, 2, 3, .4);

		.nav-elem.target {
			background-color: rgba(1, 2, 3, 1);
		}
	}
}

.nav-elem {
	padding: 8px;
	padding-left: 15px;
	transition: background .5s;

	&.target {
		background-color: rgba(1, 2, 3, .3);

		.nav-label {
			color: white;
		}
	}
}

.nav-link {
	justify-content: flex-start;
	align-items: center;
	transition: all, .5s;
	font-family: $bold-font-stack;
	text-decoration: none;
	transition: background .5s;

	&:hover{
		.nav-label {
			color: white;
		}
	};
}


.nav-button {
	color: white;
	margin: 10px;
	margin-right: 45px;
}

.nav-label {
	color: $background1;
	font-family: $medium-font-stack;
	transition: color .5s;
}