.page-container{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;

	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding-left: 6rem;
	padding-top: 7rem;
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	// Page transition bullshit

	z-index: 0;

	.page-container {
		transform: translateY(20px);
	}

	&.target {
		transition: background-image 1.5s ease, opacity .6s ease-in-out;
		z-index: 2;
		opacity: 1;

		.page-container {
			transition: transform 1s, opacity .1s;
			opacity: 1;
			transform: translateY(0px);
		}
	}

	&.old-target {
		z-index: 1;

		.page-container {
			opacity: 0;
		}
	}
}

.page-header {
	font-family: $bold-font-stack;
	font-size: 2.25rem;
	max-width: 50%;
	margin-top: 0;
}

.page-label {
	font-family: $light-font-stack;
	text-transform: uppercase;
	font-size: 1rem;
}

.page-body {
	font-size: 1.1rem;
	max-width: 40%;
	margin-top: 0;
}

.page-overlay {
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}


@media (max-width: $bp-medium) {
	html {
		font-size: 12px;
	}
}

@media (max-width: $bp-large) {
	.page-overlay {
		opacity: .7;
	}

	.page {
		background-size: 200%;
		background-position: -90vw;
	}

	.page-container {
		flex-direction: column;
		margin: 0;
		padding: 2rem;
	}

	.page-header {
		max-width: 80%;
	}

	.page-body {
		max-width: 80%;
	}
}
